
/* Your CSS Code here. */
.box {
	background : lightblue;
	width : 230px;
	margin : 20px;
	border :  15px solid blue;	
	text-align : center;
}

.box p{
text-align : center;	
}

.outerBox{
	border :  1px solid black;
	width: 300px;
}