
/* Your CSS Code here. */
.box {
	background : lightblue;
	width : 230px;
	margin : 20px;
	border :  15px solid blue;	
}

/* .box p{
text-align : center;	
} */

.outerBox{
	background : rgb(173, 216, 230);
	border :  1px solid black;
	width: 300px;
}